html{
    /*body보다 상위인 것에 선언

    브라우저 사이즈를 변경하면 그대로 같이 줄어들게 하고 싶을 때 rem을 사용
    또한 크롬 같은 경우 설정(우측상단 점 3개)로 들어가면 글꼴 크기만 변경 가능

    기본적으로 기본 픽셀인 16픽셀이 1rem이 되고, 그러면 계산이 어려움
    따라서 단위가 10이 되도록 설정

    <1rem 구하는 방법>
    1. 내 폰트 사이즈  기준 10/16*100 = 62.5%(1rem = 10px)
    -> 단점 : 분기점에서 퍼센트를 다시 계산 해줘야함
    2. 뷰포트 사이즈(vw) 기준 10/1920*100 = (1rem = 10px)

    - 1rem을 1px으로 하고 싶다면 100이 아닌 10을 곱해준다.
        
    */
    font-size:0.520833333333333vw;
}

body{
    font-size: 1rem;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    background-color: #F0EDE6;
    height: 5000px;

    word-break: keep-all;
    /*줄바꿈 옵션, 단어를 덩이리로 끊어서 떨어지도록
    - break-all : 기본값, 영역을 다 채울 때까지 문자를 유지, 문자별로 끊어지도록
    - keep-all : 줄바꿈을 할 때 하나의 문장을 유지하면서 줄 바꿈, 단어별로 끊어지도록

    - word-wrap = 영문권만 제어
    - word-break = 영문권 포함, 아시아권 (제어 범위 넓음)
    */
}
body,a,button{
    cursor: url('../images/cursor-pointer.png'),auto;
    /*
    cursor 모양 변경
    뒤에 auto를 꼭 넣어 줘야 사이즈를 잡을 수 있다.
    사이즈를 자동으로 정해줌, 직접 지정할 수 있으나
    자동으로 하는 것이 이상적
    */
}
.more-focus{cursor: url('../images/cursor-hand.png'),auto;}
.video-focus{cursor: url('../images/cursor-see.png'),auto;}
.btn-hover{cursor: url('../images/cursor-tiny.png'),auto;}
.sns-hover{cursor: url('../images/cursor-heart.png'),auto;}

/*eng font*/
[lang=en]{
    font-family: 'Libre Baskerville', serif;
    /*
    class가 아닌 lang 자체로 해주는 이유
    만약 class만 바꾼다면 영문이 아닌 스펠링을 읽기 때문에 접근성이 떨어진다.
    [] = attribute에서 사용
    attribute는 html elements에 추가적인 정보를 넣을 때 사용되는 요소
    */
}

/*ir*/
.ir{
    position: absolute;
    overflow: hidden;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
}

/*click random img*/
#click-img{
    width: 10rem;
    height: 10rem;
    position: absolute;/*랜덤으로 뜨는 position 설정 위해 absolute*/
    background-repeat: no-repeat;
    background-size: contain;
    animation: click-img 0.2s, hide-img 0.5s 0.5s forwards;
    /*name timing-function delay*/
    /*forwards 애니메이션(hide-img)이 끝난 후 그대로 멈추게*/
}
@keyframes click-img{
    0%{transform:rotate(50deg) scale(0); opacity:0;}
    100%{transform:rotate(0deg) scale(1); opacity:1;}
}
@keyframes hide-img{
    100%{opacity: 0; transform: scale(0.5);}
}

#click-img.bg01{background-image: url('../images/layer-bone.png');}
#click-img.bg02{background-image: url('../images/layer-cloud.png');}
#click-img.bg03{background-image: url('../images/layer-fish.png');}
#click-img.bg04{background-image: url('../images/layer-flower.png');}
#click-img.bg05{background-image: url('../images/layer-grass.png');}
#click-img.bg06{background-image: url('../images/layer-meat.png');}
#click-img.bg07{background-image: url('../images/layer-rainbow.png');}
#click-img.bg08{background-image: url('../images/layer-sushi.png');}
#click-img.bg09{background-image: url('../images/layer-watermelon.png');}

/*이미지 설정 후 스크립트 들어감*/


/*header*/
header.header-wrapper{
    padding: 0 5rem;
    width: 100%;
    height: 14.5rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s;
}

header.header-wrapper.on{
    height: 10rem;
    border-bottom: solid 1px #333;
    transition: all 0.4s;
    background-color: #F0EDE6;
}

header.header-wrapper div.inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1.logo{
    width: 18rem;
    height: 8.5rem;
    position: relative;
    z-index: 999;
    transition: all 0.3s;
}
header.header-wrapper.on h1.logo{
    width: 12rem;
    height: 5.3rem;
}
h1.logo img{ 
    display: block;
    width: 100%;
}


/*gnb*/
div.gnb-wrapper{
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    flex: 1 1 auto;
    justify-content: flex-end;
}
nav.gnb{
    position: relative;
    margin-right: 3rem;
    height: 100%;
}
nav.gnb > ul.mainmenu-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
nav.gnb > ul.mainmenu-list li{
    position: relative;
}
nav.gnb > ul.mainmenu-list li > a{
    padding: 1.5rem 2rem;
    font-size: 2.4rem;
    color: #333;
    font-weight: bold;
}

/*submenu*/
ul.submenu-list{
    width: 100%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 5rem;
    padding-bottom: 1rem;
}
ul.submenu-list > li{
    width: 100%;
    position: relative;
}
ul.submenu-list > li > a{
    display: block;
    padding: 0px 2rem;
    padding-top: 3rem;
}
ul.submenu-list > li > a span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
}
ul.submenu-list > li > a span::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    bottom: -1rem;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
}
ul.submenu-list > li:hover a span::after{
    opacity: 1;
}

/*menu active ball*/
div.menu-active-ball{
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 4rem;
    left: 0px;
}
div.menu-active-ball span{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.5s;
    transform: scale(0);
}
div.menu-active-ball.on span{
    transform: scale(1);
}


/*search*/
div.search-btn{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

div.search-btn a{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

/*shop link*/
a.shop-link{
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    font-size: 2.4rem;
    color: #333;
    font-weight: bold;
}
a.shop-link::after{
    content: '';
    display: inline-block;
    background-image: url('../images/shop.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    width: 2.4rem;
    height: 2.6rem;
    position: relative;
    top: 0.5rem;
}
a.shop-link::before{
    content: '';
    display: block;
    width: 0px;
    height: 1rem;
    background-image: url('../images/shop-line.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: all 0.3s;
}
a.shop-link:hover::before{
    width: 100%;
}


/*search wrapper*/
div.search-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.6s;
}
div.layer-img-wrapper{
    width: 56.6rem;
    height: 47rem;
    position: absolute;
    z-index: 10;
    background-image: url('../images/layer-twerking.gif');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
div.search-inner{
    position: fixed;
    width: 100vw;
    padding: 20rem 0;
    padding-bottom: 12rem;
    box-sizing: border-box;
    top: -100%;
    left: 0;
    opacity: 0;
    background-color: #F0EDE6;
    transition: all 0.6s;
    z-index: 11;
}

div.search-wrapper.on{
    background-color: rgba(0,0,0,0.3);
}
div.search-wrapper.on div.search-inner{
    top: 0;
    opacity: 1;
}

div.form-wrapper{
    max-width: 128rem;
    margin: 0 auto;
    position: relative;
}
div.form-wrapper form{
    width: 100%;
    height: 7rem;
    position: relative;
    border-bottom:solid 6px #333;
    display: flex;
    margin-bottom: 4rem;
}
input.search{
    width: 95%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
}
input.search::placeholder{
    color: #333;
    font-weight: 900;
}
button.submit-btn{
    width: 5%;
    height: 100%;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;/*원래 배경 이미지 사이즈로*/
    background-color: transparent;
    border: none;
}

div.tag-wrapper{
    width: 100%;
}
div.tag-wrapper ul{
    width: 100%;
}
div.tag-wrapper ul li{
    margin-bottom: 1rem;
}
div.tag-wrapper ul li a{
    color: #333;
    font-size: 1.8rem;
    font-weight: 900;
    display: inline-block;/*hover 했을 때 text영역만큼*/
    padding: 0.3rem 0;
    position: relative;
}
div.tag-wrapper ul li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    opacity: 0;
    transition: all 0.2s;
}
div.tag-wrapper ul li:hover a::after{
    opacity: 1;
}

button.close-btn{
    position: absolute;
    top: -15rem;
    right: -5rem;
    width: 6rem;
    height: 6rem;
    background-image: url('../images/closebtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
    z-index: 999;
    transition: all 0.2s;
}


/*mobile*/
div.mobile-menu-btn{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: relative;
    display: none;
}
div.mobile-menu-btn .line01,
div.mobile-menu-btn .line02{
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #333;
}
div.mobile-menu-btn .line01{
    top: 0.7rem;
}
div.mobile-menu-btn .line02{
    bottom: 0.7rem;
}

/*mobile gnb*/
nav.mobile-gnb{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #F0EDE6;
    padding: 9rem 0 2rem 5rem;
    box-sizing: border-box;
}
div.mobile-gnb-inner{
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: all 0.3s;
    display: grid;
    align-items: end;
}
nav.mobile-gnb.on div.mobile-gnb-inner{
    transform: scale(1);
}

button.mobile-close-btn{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -6rem;
    right: 2rem;
    background-image: url('../images/closebtn.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
    border: none;
    transform: scale(0);
    transition: all 0.2s 0.2s;
}
nav.mobile-gnb.on button.mobile-close-btn{
    transform: scale(1);
}
nav.mobile-gnb ul{
    width: auto;
    display: grid;
    row-gap:4rem;
    margin-bottom:8rem;
}
nav.mobile-gnb ul li a{
    font-size: 2.4rem;
    color: #333;
    font-weight: bold;
}
nav.mobile-gnb a.shop-btn{
    font-size: 3.2rem;
    font-weight: bold;
    color:#333;
}



/*content 공통*/
section{
    grid-column: 2/3;
    position: relative;
    justify-content: center;
}
a.more-btn{
    display: inline-block;
    width: 25.8rem;
    height: 8.7rem;
    background-image: url('../images/button-basic-stroke.svg');
    background-repeat: no-repeat;
    font-size: 1.8rem;
    line-height: 8.7rem;
    color: #333;
    font-weight: bold;
    position: relative;
    text-align: center;
}
a.more-btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/button-basic-fill.svg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
a.more-btn:hover:after{
    opacity: 1;
}


/*container wrapper*/
div.container-wrapper{
    display: grid;
    grid-template-columns: 9.9% 1fr 9.9%;
    row-gap: 25rem;/*margin 대신 여백으로 적용*/
    padding: 25rem 0;
}

h2.visual-title{
    font-size: 13rem;
    line-height: 130%;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 150%;
}

div.visual{
    max-width: 101.4rem;
    position: relative;
    margin: 0px auto;
    margin-top: -7rem;
    margin-bottom: 6rem;
}

div.visual img{
    width: 100%;
    display: block;
}

div.more-wrapper{
    text-align: center;
    padding: 0 3rem;
}

p.visual-text{
    font-size: 2rem;
    line-height: 170%;
    margin-bottom: 6rem;
    color: #333;
    font-weight: bold;
    letter-spacing: -0.2rem;
}

/*layer img*/
span.layer-img{
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    position: absolute;
    left: 50%;/*윈도우 사이즈 줄어들면서 자리를 계속 유지하도록*/
    z-index: 3;
}
span.visual-layer01{
    width: 17.5rem;
    height: 16.6rem;
    background-image: url('../images/layer-bib.png');
    top: -16rem;
    margin-left: -44rem;/*윈도우 사이즈 줄어들면서 자리를 계속 유지하도록*/
}
span.visual-layer02{
    width: 14.9rem;
    height: 16.1rem;
    background-image: url('../images/layer-bone.png');
    top: 43rem;
    margin-left: -80rem;
}
span.visual-layer03{
    width: 15.4rem;
    height: 11.5rem;
    background-image: url('../images/layer-cloud.png');
    top: 25rem;
    margin-left: 65rem;
}
.visual-wrapper.on span.layer-img:hover{
    transform: rotate(45deg)!important;
    /*wrapper가 hover 되있을 때 hover action을 
    우선순위를 최우선으로 적용함*/
}
span.visual-layer02:hover{
    transform: rotate(90deg);
}


/*brands*/
h2.content-title{
    font-size: 9rem;
    margin-bottom: 15rem;
    text-align: center;
}
div.brand-content{
    display: flex;
    align-items: center;
}
div.brand-visual{
    width: 50%;
    position: relative;;
}
div.brand-visual img{
    display: block;
    width: 100%;
}
div.brand-text-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    /*justify-content: end;/*정렬이 수직 기준으로 바뀜*/
    align-items: center;/*정렬이 수평 기준으로 바뀜*/
    padding-left: 4.5rem;
    box-sizing: border-box;
}
.content-sub-title{
    width: 26.3rem;
    height: 15.9rem;
    margin: 0 auto;
}
.content-sub-title img{
    display: block;
    width: 100%;
}
.brand-text{
    font-size: 2rem;
    line-height: 170%;
    font-weight: bold;
    text-align: center;
    margin: 6rem 0;
    letter-spacing: -0.2rem;
}
span.brands-img{
    width: 19.9rem;
    height: 14.5rem;
    background-image: url('../images/layer-fish.png');
    top: -10rem;
    margin-left: 54rem;
}
section.brands-wrapper.on span.brands-img:hover{
    transform: rotate(45deg)!important;
}




/*video*/
div.video-wrapper{
   margin-left: -12.5%;
   /*margin-left: -9.9% -> 유동적인 사이즈라서 정확히 왼쪽 끝으로 가지 않음
   비디오 사이즈 1740
   그리드 가운데 사이즈 max width 1525
   1526/1740*100(그리드 가운데 사이즈가 비디오 사이즈에서 몇 % 차지하고 있는가)-100%(1740기준)=-12.3% 
   12.3%만큼 영역을 늘려준다. -> 비디오가 차지하는 사이즈 영역이 늘어남*/
   margin-top:6rem;
   margin-bottom: 20rem;
   position: relative;
}
div.video-wrapper div.video-inner{
    /*1080/1920*100
    540/960*100=56.25%
    863/1723*100=50%
    백그라운드 사이즈만큼 padding값을 주고 height는 0으로 설정
    */
    padding-top: 50.1%;
    position: relative;
    overflow: hidden;
    height: 0;
}
div.video-inner video{
    /*padding만큼 설정된 영역에 position absolute로 위치를 겹쳐놓기*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.video-inner a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;/*처음에 없어져 보이게*/
    transition: all 0.2s;
}
div.video-inner a::after{
    content: '';
    width: 14.1rem;
    height: 14.9rem;
    background-image: url('../images/video-focus.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div.video-inner a:hover{
    opacity: 1;
}

span.video-img01{
    width: 6.6rem;
    height: 4.8rem;
    background-image: url('../images/pattern-grass-05.jpg');
    left: 19rem;
    top: -7rem;
    z-index: 0;
}
span.video-img02{
    width: 30.6rem;
    height: 10.6rem;
    background-image: url('../images/pattern-footprint.png');
    top: -15rem;
    left: auto;/*맨 위에 적용한 left값을 풀어주기*/
    right: 37rem;
    z-index: 0;
}
span.video-img03{
    width: 9.3rem;
    height: 6rem;
    background-image: url('../images/pattern-grass-01.jpg');
    top: -20rem;
    left: auto;
    right:50rem;
    z-index: 0;
}
span.video-img04{
    width: 11.5rem;
    height: 7.4rem;
    background-image: url('../images/pattern-grass-02.jpg');
    top: -10rem;
    left: auto;
    right: 20rem;  
    z-index: 0; 
}
span.video-img05{
    width: 10.6rem;
    height: 7.6rem;
    background-image: url('../images/pattern-grass-03.jpg');
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: -8rem;
    z-index: 0;
}


/*maxbone*/
div.maxbone{
    margin-bottom: 16.5rem;
}
div.maxbone div.brand-visual{
    order: 2;
}
div.maxbone h3.content-sub-title{
    width: 36rem;
    height: 4.4rem;
}
div.maxbone div.brand-text-wrapper{
    padding-left: 0;
    padding-right: 4.4rem;
    order: 1;
}
span.maxbone-img{
    width: 12rem;
    height: 6.2rem;
    background-image: url('../images/pattern-grass-04.jpg');
    position: absolute;
    top: -12rem;
    left: 15rem;
}

/*maxbone video*/
div.maxbone-video-wrapper{
    max-width: 75.2rem;
    position: relative;
    margin: 0 auto 31rem;    
}
div.maxbone-video-wrapper div.video-inner{
    padding-top: 125%;
    /*
    세로 사이즈가 더 길다
    1080/1920 => 세로 / 가로
    */
    position: relative;
    overflow: hidden;
}

div.maxbone-ani{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30rem;
}
div.maxbone-ani span{
    display: inline-block;
    background-image: url('../images/layer-maxbone.jpg');
    width: 6.2rem;
    height: 26.7rem;
    margin-right: 2rem;
    position: static;/*absolute 해제하기*/
    /* position: relative; left: auto; */
    opacity: 0;
    transform: scale(0);
}
div.maxbone-ani span.maxbone-ani-img01.on{
    animation: maxbone-ani 0.1s 0.4s forwards;
}
div.maxbone-ani span.maxbone-ani-img02.on{
    animation: maxbone-ani 0.1s 0.2s forwards;
}
div.maxbone-ani span.maxbone-ani-img03.on{
    animation: maxbone-ani 0.1s forwards;
}

@keyframes maxbone-ani{
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

span.maxbone-img01{
    width: 47.8rem;
    height: 53.6rem;
    background-image: url('../images/layer-toy.png');
    top: -38em;
    left: -63rem;
}


/*milk*/
div.milk{
    position: relative;
}
div.milk .content-sub-title{
    width: 40.2rem;
    height: 6.3rem;
}
span.milk-img01{
    width: 50.2rem;
    height: 42.9rem;
    background-image:url('../images/layer-hand.png');
    top: -27rem;
    left: auto;
    right: -33rem;
}
span.milk-img02{
    width: 17rem;
    height: 19.1rem;
    background-image: url('../images/layer-heart.png');
    top: 6rem;
    left: auto;
    right: 17rem;
}


/*new item*/
section.new-wrapper{
    grid-column: 1/4;
    position: relative;
    max-width: 154.2rem;
    margin: 0 auto;
}
div.new-item-slider .slick-list{
    overflow: visible;
    margin: 0 -2.1rem;
}
div.new-item-slider .slick-slide{
    max-width: 48.6rem;
    position: relative;
    margin: 0 2.1rem;
}
div.new-item-slider ul li a{
    display: block;
    position: relative;
}
div.new-item-slider ul li img{
    display: block;
    width: 100%;
}
div.new-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0;
}
div.new-item-slider li:hover div.new-item-hover{
    opacity: 1;
}
h3.item-brand{
    font-size: 2rem;
    margin:2rem 0;
    color: #333;
}
p.item-name{
    font-size: 1.7rem;
    color: #333;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

/*new item nav*/
div.new-item-nav{
    max-width: 154rem;
    margin: 5rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.new-item-page span{
    font-size: 1.4rem;
    color: #333;
}
div.new-item-page span.page-slash{
    margin: 0 1rem;
}

button.slick-disabled{
    pointer-events: none ;/*클릭 이벤트값 없애기*/
    opacity: 0.5;
}
div.page-arrows{
    margin: 0 auto;
    /*flex일 때, 자신을 가운데로 맞추고 나머지를 다 밀어버림*/
}
div.page-arrows button{
    width:9rem;
    height: 5rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    background-position: center center;
    border: none;
    margin: 0 2.1rem;
}
button.new-prev-arrow{
    background-image: url('../images/prev-arrows.png');
}
button.new-next-arrow{
    background-image: url('../images/next-arrows.png');
}

/*brand text marquee*/
div.brand-text-maq{
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    padding: 7rem 0;
    grid-column: 1/4;
    display: flex;
}
div.brand-text-maq p{
    color: #333;
    font-size: 12.7rem;
    white-space: nowrap;
    animation: text-marquee 30s linear infinite;
}
div.brand-text-maq p span{
    display: inline-block;
    margin: 0 8rem;
}
@keyframes text-marquee{
    100%{
        transform: translateX(-100%);
    }
}


/*cotielog*/
section.cotielog-wrapper{
    text-align: center;
}
ul.cotie-gallery{
    display: grid;
    /*grid masorny 모든 사진마다 content사이즈가 다름*/
    max-width: 110rem;
    grid-template-columns: 1fr 12rem 1fr;/*여백을 gap대신 grid 한칸으로 처리*/
    margin: 0 auto;
    margin-bottom: 19rem;
}
ul.cotie-gallery li{
    max-width: 48.5rem;
}
ul.cotie-gallery li img{
    display: block;
    width: 100%;
}
ul.cotie-gallery li:nth-child(2n){
    grid-column: 3/4;
    margin-top: 12rem;/*같은 줄의 컨텐츠 1칸의 높이 값이 동시에 바뀜*/
}
div.cotie-gallery-img{
    margin-bottom: 2rem;
}
h3.cotie-title{
    font-weight: bold;
    font-size: 2.4rem;
    text-align: left;
    line-height: 150%;
}
section.cotielog-wrapper a.more-btn::before{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    background-image: url('../images/more.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}


/*sns wrapper*/
section.sns-wrapper h2.content-title{
    font-size: 6rem;
    word-break: break-all;
}
section.sns-wrapper h2.content-title br{
    display: none;
}
ul.sns-list{
    display: flex;
    margin: 0 -2.1rem;
}
ul.sns-list li{
    padding: 0 2.1rem;
    box-sizing: border-box;
}
ul.sns-list li a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
ul.sns-list li img{
    display: block;
    width: 100%;
}
ul.sns-list li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.2s;
    opacity: 0;
}
ul.sns-list li a:hover::after{
    opacity: 1;
}


/*footer*/
footer.footer-wrapper{
    width: 100%;
    background-color: #000;
    position: relative;
    /* margin-top: 25rem;  */
    padding: 10rem 0;
}
div.footer-layer{
    width: 100%;
    height: 15.3rem;
    background-image: url('../images/footer-layer.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -10rem;
}
div.footer-layer.on{
    animation: footer-ani 0.4s;
}

@keyframes footer-ani{
    0%{
        transform: translateY(1.5rem);
    }
    100%{
        transform: translateY(1.5rem);
    }/*0.3s동안 top 1.5rem에서 멈춰있기*/
}


div.footer-inner{
    max-width: 154.2rem;
    margin: 0 auto;
}
div.footer-menu-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
ul.footer-menu li{
    margin-bottom: 4rem;
}
ul.footer-menu li a{
    font-size: 6rem;
    color: #F0EDE6;
    transition: all 0.2s
}
ul.footer-menu li a:hover{
    opacity: 0.8;
}

ul.footer-sns-menu{
    display: flex;
    align-items: center;
    height: 7.7rem;/*높이값 따로 정렬하기*/
}
ul.footer-sns-menu li{
    margin: 0 2rem;
}
ul.footer-sns-menu li span{
    font-size: 2.6rem;
    color: #F0EDE6;
    font-weight: bold;
}
ul.footer-sns-menu li a{
    display: block;
    position: relative;
}
ul.footer-sns-menu li a::before{
    content: '';
    display: block;
    width: 0;
    height: 1rem;
    background-image: url('../images/shop-line-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    transition: all 0.2s;
}
ul.footer-sns-menu li.facebook a:hover::before,
ul.footer-sns-menu li.insta a:hover::before{
    width: 100%;
}

ul.footer-sns-menu li.kakaoch a{
    display: block;
    width: 7.4rem;
    height: 7.7rem;
    background-image: url('../images/kakao.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center
}
ul.footer-sns-menu li i{
    display: none;
}

/*footer info*/
div.footer-info-wrapper button{
    font-size: 1.8rem;
    font-weight: bold;
    color: #F0EDE6;
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    padding: 0;
    text-align: left;/*button은 기본적으로 text align center */
}
div.footer-info-wrapper button:hover{
    opacity: 0.8;
}
div.footer-info-wrapper button span{
    display: inline-block;/*transform은 inline만 안됨*/
    width: 2rem;
    height: 1.5rem;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8rem 1.1rem;
    transition: all 0.2s;
    margin-left: 1rem;
}

div.footer-info-wrapper button span.on{
    transform: rotate(180deg);
}
div.footer-text{
    padding: 1.6rem 0 ;
}
div.footer-text p{
    padding: 1.2rem 0;
    font-weight: 500;
    /*margin은 높이값 없으면 위아래 태그끼리 겹침
    padding으로 해당 태그 영역 안으로 들어오도록*/
}
/* div.footer-text p br{
    display: none;
} */

div.footer-text p span{
    display: inline-block;
    font-size: 1.6rem;
    color: #666;
    line-height: 170%;
    padding-right: 0.7rem;
}
div.footer-text p span:last-child{
    padding-right: 0;
}

p.copy{ 
    font-size: 2.4rem;
    color: #F0EDE6;
    opacity: 0.5;
    font-weight: bold;
    padding-top: 7rem;
}


/*top btn*/
a.top-btn{
    display: block;
    width: 5rem;
    height: 10rem;
    position: absolute;
    right: 8rem;
    top: -20rem;
    z-index: 9999;
}
a.top-btn.on{
    position: fixed;
    top: auto;/*top없애기*/
    bottom: 5rem;
}
a.top-btn span.top-btn-text{
    display: inline-block;
    font-size: 2.6rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
    font-weight: bold;
}
a.top-btn i{
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.4rem;
    font-weight: bold;
}
a.top-btn:hover span.top-btn-text{
    transform: translate(-3.2rem, -8rem) rotate(-30deg);
}
a.top-btn:hover i{
    display: none;
}

div.top-btn-layer{
    position: absolute;
    width: 3rem;
    height: 6rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}
div.top-btn-layer span{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    transition: all 0.3s;
    transform: translateY(100%);
}
div.top-btn-layer span.top-icon01{
    transform: translateY(0);
    background-image: url('../images/top-paw-brown.svg');
}
div.top-btn-layer span.top-icon02{
    transform: translateY(0);
    background-image: url('../images/top-paw-dark.svg');
}
div.top-btn-layer span.top-icon03{
    transform: translateY(0);
    background-image: url('../images/top-paw-spotted.svg');
}
div.top-btn-layer span.top-icon04{
    transform: translateY(0);
    background-image: url('../images/top-paw-white.svg');
}


/*load ani*/
section.visual-wrapper div.visual{
    transition: all 0.3s;
    transform: rotate(-90deg);
    opacity: 0;
}
section.visual-wrapper span.visual-layer02,
section.visual-wrapper span.visual-layer03{
    transform: scale(0) rotate(-30deg);
}
section.visual-wrapper.on div.visual{
    transform: rotate(0deg);
    opacity: 1;
}
section.visual-wrapper.on span.visual-layer02,
section.visual-wrapper.on span.visual-layer03{
    animation: load-ani-visual 0.15s forwards;
}
@keyframes load-ani-visual{
    100%{transform: scale(1) rotate(0)}
}


section.brands-wrapper span.brands-img,
div.maxbone-video-wrapper span.maxbone-img01{
    transform: rotate(-180deg) scale(0);
}
section.brands-wrapper.on span.brands-img,
div.maxbone-video-wrapper.on span.maxbone-img01{
    animation: load-ani-brands 0.15s forwards;
}
@keyframes load-ani-brands{
    0%{transform: scale(1) rotate(-180deg);}
    100%{transform: scale(1) rotate(0);}
}


div.milk span.milk-img01{
    transform: translateX(100%) scale(0);
    transition: all 0.08s;
}
div.milk span.milk-img02{
    transform: scale(0);
    transition: all 0.15s;
}
div.milk.on span.milk-img01{
    transform: translateX(0) scale(1);
}
div.milk.on span.milk-img02{
    transform: scale(1);
}


section.new-wrapper div.new-item-slider{
    transform: translateX(100%);
    transition: all 1s;
}
section.new-wrapper.on div.new-item-slider{
    transform: translateX(0);
}

ul.cotie-gallery li{
    transform: translateY(10rem);
    opacity: 0;
    transition: all 0.5s;
}
ul.cotie-gallery li.on{
    transform: translateY(0);
    opacity: 1;
}







/*MEDIA*/
@media  screen and (max-width:1480px) {
    html{
        font-size:0.6756756756756757vw;
    }
    header.header-wrapper{
        height: 12rem;
    }
    h1.logo{
        width: 13rem;
        height: 5.8rem;
    }

    div.container-wrapper{
        grid-template-columns: minmax(auto, 50px) 1fr minmax(auto, 50px);
    }

    /*visual*/
    h2.visual-title{
        font-size: 10rem;   
    }
    div.visual{
        max-width: 84.5rem;
    }

    span.visual-layer01{
        width: 14rem;
        height: 13.2rem;
    }
    span.visual-layer02{
        width: 12rem;
        height: 12.8rem;
        top: 34.5rem;
        margin-left: -65rem;
    }
    span.visual-layer03{
        width: 12.3rem;
        height: 9.2rem;
        top: 18rem;
        margin-left: 50rem;
    }
    
    /*brands*/
    h2.content-title{
        font-size: 7.4rem;
        margin-bottom: 11rem;
    }
    p.brand-text{
        font-size: 1.8rem;
    }
   

    /*video*/

    div.video-inner a::after{
        width: 12.6rem;
        height: 13rem;
    }

    div.video-wrapper span.layer-img,
    span.brands-img,
    span.maxbone-img,
    span.maxbone-img01,
    span.milk-img01,
    span.milk-img02{
        transform: scale(0.8);/*전체가 같은 비율로 줄어듦*/
    }
    span.brands-img{
        margin-left: 46rem;
    }
    span.video-img01{
        left: 28rem;
        top: -5rem;
    }
    span.video-img02{
        top: -12rem;
        right: 35rem;
    }
    span.video-img03{
        top: -17rem;
        right:44rem;
    }
    span.video-img04{
        top: -7rem;
        right: 19rem;   
    }
    span.video-img05{
        right: -5rem;
    }

    /*maxbone-video*/
    div.maxbone-video-wrapper{
        max-width: 66rem;
        margin-bottom: 24rem;
    }
    div.maxbone-ani{
        left: -24rem;
    }
    div.maxbone-ani span{
        width: 5.5rem;
        height: 25.5rem;
    }
    span.maxbone-img01{
        top: -35rem;
        left: -58rem;
    }
    

    /*milk*/
    span.milk-img01{
        top: -35rem;
        right: -23rem;
    }
    span.milk-img02{
        top: -5rem;
        right: 16rem;
    }


    /*new item*/
    section.new-wrapper{
        margin: 0 5rem;
    }

    /*brand text marq*/
    div.brand-text-maq p{
        font-size: 11rem;
    }
    div.brand-text-maq p span{
        margin: 0 6rem;
    }


    /*footer*/
    div.footer-inner{
        /*max width를 계속 계산해야함-> max width에서 margin값을 추가*/
        margin:0 5rem;
    }
    ul.footer-menu li a{
        font-size: 5.2rem;
    }

    p.copy{
        font-size: 2rem;
    }
    

}

/*1480 end*/



@media screen and (max-width:1024px){
    html{
        font-size: 0.9765625vw;
    }
    nav.gnb, a.shop-link{
        display: none;
    }
    header.header-wrapper{
        height: 7.7rem;
    }
    h1.logo{
        width: 10rem;
        height: 4.4rem;
    }
    div.mobile-menu-btn{
        display: block;
    }

    /*search*/
    div.search-wrapper{
        transition-duration: 0s;
        z-index: 999;
        visibility: hidden;
    }
    div.search-wrapper.on{
        visibility: visible;
        background-color: #F0EDE6;
    }
    div.search-inner{
        top: 0;
        transform: scale(1.2);
        visibility: hidden;
        opacity: 0;
        padding-top: 11rem;
    }
    div.search-wrapper.on div.search-inner{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
    div.form-wrapper{
        padding: 0 5rem;
        box-sizing: border-box;
    }
    input.search{
        font-size: 2.2rem;
    }
    div.tag-wrapper ul li a{
        font-size: 1.6rem;
    }
    button.close-btn{
        top: -6rem;
        right: 5rem;
        width: 3rem;
        height: 3rem;
        transform: scale(0);
        transition-delay: 0.3s;
    }
    div.search-wrapper.on  button.close-btn{
        transform: scale(1);
    }

    div.container-wrapper{
        row-gap: 16rem;
    }

    /*visual*/
    div.container-wrapper{
        padding-top: 15rem;
    }
    h2.visual-title{
        font-size: 7.5rem;
    }
    div.visual{
        max-width: 100% ;/*처음에 maxmin width로 사이즈 설정했으면 계속 유지해야함*/
    }

    section.visual-wrapper span.layer-img{
        display: none;
    }

    a.more-btn{
        width: 23.6rem;
        height: 7.9rem;
    }


    /*brand*/
    div.brand-text-wrapper{
        padding-bottom: 4rem;
        padding-left: 2rem;
    
    }
    .content-sub-title{
        width: 17rem;
        height: 10.3rem;
    }
    p.brand-text{
        font-size: 1.6rem;
        margin: 4rem 0;
    }

   

    /*video*/
    div.video-wrapper{
        margin-bottom: 14rem;
    }
    div.video-inner a::after{
        width: 9.5rem;
        height: 10rem;
    }
    div.video-wrapper span.layer-img,
    span.brands-img,
    span.maxbone-img,
    span.maxbone-img01,
    span.milk-img01,
    span.milk-img02{
        transform: scale(0.6);/*원래 값에서 60%*/
    }
    span.brands-img{
        margin-left: 32rem;
    }
    span.video-img01{
        left: 17rem;
        top: -5rem;
    }
    span.video-img02{
        top: -10rem;
        right: 15rem;
    }
    span.video-img03{
        top: -14rem;
        right:26rem;
    }
    span.video-img04{
        top: -7rem;
        right: 7rem;   
    }
    span.video-img05{
        right: -7rem;
    }

    /*maxbone*/
    div.maxbone{
        margin-bottom: 9rem;
    }
    div.maxbone h3.content-sub-title{
        width: 30rem;
        height: 3.5rem;
    }

    
    /*maxbone-video*/
    div.maxbone-video-wrapper{
        max-width: 44.5rem;
        margin-bottom: 20rem;
    }
    div.maxbone-ani{
        left: -17rem;
    }
    div.maxbone-ani span{
        width: 4.2rem;
        height: 18rem;
        margin-right: 1rem
    }
    span.maxbone-img01{
        top: -30rem;
        left: -43rem;
    }
    

    /*milk*/
    div.milk{
        margin-bottom: 3rem;
    }
    span.milk-img01{
        right: -25rem;
    }
    span.milk-img02{
        top: -8rem;
        right: 8rem;
    }

    /*new item*/
    div.new-item-slider .slick-list{
        margin: 0 -1.2rem;
    }
    div.new-item-slider .slick-slide{
        margin: 0 1.2rem;
    }

     /*brand text marq*/
    div.brand-text-maq{
        padding: 6rem 0;
    }
    div.brand-text-maq p{
        font-size: 8.6rem;
    }
    div.brand-text-maq p span{
        margin: 0 4.5rem;
    }


    /*cotielog*/
    ul.cotie-gallery{
        grid-template-columns: 1fr 6rem 1fr;
        max-width: 82rem;
        margin-bottom: 9rem;
    }
    h3.cotie-title{
        font-size: 2rem;
    }
    ul.cotie-gallery li:nth-child(2n){
        margin-top: 10rem;
    }


    /*sns*/
    ul.sns-list{
        margin: 0 -1.1rem;
    }
    ul.sns-list li{
        padding: 0 1.1rem;
    }


    /*footer*/
    ul.footer-menu li{
        margin-bottom: 2.8rem;
    }
    ul.footer-menu li a{
        font-size: 3.8rem;
    }
    ul.footer-sns-menu{
        height: 5.2rem;
    }
    ul.footer-sns-menu li{
        margin: 0 0.7rem;
    }
    ul.footer-sns-menu li.facebook span,
    ul.footer-sns-menu li.insta span{
        display: none;
    }
    ul.footer-sns-menu li a::before{
        content: none;
    }
    ul.footer-sns-menu li i{
        display: block;
        font-size: 2.8rem;
        color: #F0EDE6;
    }
    ul.footer-sns-menu li i.bx-border-circle{
        border: solid 0.1rem #F0EDE6;
        padding: 1.11rem;
    }

    ul.footer-sns-menu li.kakaoch a{
        width: 5.2rem;
        height: 5.2rem;
    }

    p.copy{
        font-size:1.6rem;
        padding-top: 4rem;
    }
}
/*1024 end*/


@media screen and (max-width:860px){

    html{
        font-size: 1.162790697674419vw;
    }
    header.header-wrapper{
        padding: 0 3rem;
    }
    h1.logo{
        width: 13rem;
        height: 3.8rem;
    }
    div.search-inner{
        background: transparent;
    }
    div.layer-img-wrapper{
        display: block;
        width: 30rem;
        height: 25rem;
        bottom: 4rem;
        transform: translateX(-60%);
    }
    nav.mobile-gnb ul li a{
        font-size: 2.7rem;
    }

    /*visual*/
    h2.visual-title{
        font-size:6.6rem
    }

    /*brand*/
    h2.content-title{
        font-size: 6.3rem;
        margin-bottom: 7rem
    }
    .content-sub-title{
        width: 19rem;
        height: 11.5rem;
    }
    .brand-text{
        font-size: 1.9rem;
        margin: 3rem 0 4.5rem;
        letter-spacing: 0rem;
        font-weight: normal;
    }
    .brand-text br,
    span.brands-img{
        display: none;
    }
    


    /*video*/
    div.video-wrapper{
        margin-bottom: 12rem;
    }
    div.video-inner a::after{
        width: 11rem;
        height: 11.3rem;
    }
    span.video-img01{
        left: 16rem;
        top: -5rem;
    }
    span.video-img02{
        display: none;
    }
    span.video-img03{
        top: -9rem;
        right:22rem;
    }
    span.video-img04{
        top: -4rem;
        right: 7rem;   
    }
    span.video-img05{
        right: -6rem;
    }


    /*maxbone*/
    div.maxbone{
        margin-bottom: 8rem;
    }
    div.maxbone div.brand-text-wrapper{
        padding-right: 2.5rem;
    }
    span.maxbone-img{
        left: 11rem;
        top: -9rem;
    }

    /*maxbone-video*/
    div.maxbone-video-wrapper{
        max-width: 38.6rems;
        margin-bottom: 15rem;
    }
    div.maxbone-ani span{
        display: none;
    }
    span.maxbone-img01,
    span.milk-img01,
    span.milk-img02{
        transform: scale(0.56);
        z-index: -1;
    }
    span.maxbone-img01{
        top: -20rem;
        left: -35rem;
    }
    
    div.maxbone div.brand-text-wrapper,
    div.milk div.brand-text-wrapper{
        padding: 0px;
    }
    
    /*milk*/
    div.milk .content-sub-title{
        width: 28rem;
        height: 4.4rem;
    }
    span.milk-img01{
        right: -28rem;
    }
    span.milk-img02{
        right: 5rem;
    }

    
    /*new item*/
    section.new-wrapper{
        margin: 0 3.5rem;
    }
    div.new-item-slider .slick-list{
        margin: 0 -0.7rem;
    }
    div.new-item-slider .slick-slide{
        margin: 0 0.7rem;
    }

    /*brand text marq*/
    div.brand-text-maq p{
        font-size: 6.7rem;
    }
    div.brand-text-maq p span{
        margin: 0 3.5rem;
    }


    /*cotielog*/
    ul.cotie-gallery{
        grid-template-columns: 1fr 3rem 1fr;
        max-width: 71rem;
        margin-bottom: 7rem;
    }
    h3.cotie-title{
        font-size: 2rem;
    }
    ul.cotie-gallery li:nth-child(2n){
        margin-top: 9rem;
    }


    /*sns*/
    ul.sns-list{
        margin: 0 -0.7rem;
    }
    ul.sns-list li{
        padding: 0 0.7rem;
    }


    /*footer*/
    div.footer-inner{
        margin: 0 3.2rem;
    }
    ul.footer-menu li{
        margin-bottom: 3.6rem;
    }
    ul.footer-menu li a{
        font-size: 4.2rem;
    }
    div.footer-text p{
        padding: 0.5rem 0;
    }
    div.footer-text p span{
        font-size: 1.7rem;
    }
    p.copy{
        font-size:1.2rem;
    }
}

/*860 end*/


@media screen and (max-width:540px) {
    html{
        font-size: 1.851851851851852vw;
    }
    div.search-btn,
    div.mobile-menu-btn{
        width: 4rem;
        height: 4rem;
    }

    div.container-wrapper{
        row-gap: 14rem;
    }
    
    /*visual*/
    h2.visual-title{
        font-size: 4.6rem;
        /*white-space: normal;/*공백을 어떻게?*/
    }
    
    p.visual-text{
        font-size: 2.2rem;
        font-weight: normal;
        margin-bottom: 3rem
    }
    a.more-btn{
        width: 23rem;
        height: 7.7rem;
        line-height: 7.7rem;
    }

    /*brand*/

    h2.content-title{
        font-size: 4.6rem;
    }
    .content-sub-title{
        width: 16rem;
        height: 9.7rem;}
    div.brand-content{
        flex-wrap: wrap;
    }
    div.brand-visual,
    div.brand-text-wrapper{
        width: 100%;
    }
    div.brand-text-wrapper{
        padding: 0;
    }
    .brand-text{
        font-size: 2.2rem;
    }

    /*video*/
    div.video-inner a::after{
        width: 9.5rem;
        height: 10rem;
    }
    div.video-wrapper{
        margin: 8rem -50px 15rem;
        /*container에서 minmax 50씩 준만큼 margindmfh -50만큼 늘여준다.*/
    }
    div.video-wrapper span.layer-img{
        display: none;
    }


    /*maxbone*/
    div.maxbone div.brand-visual{
        order: 1;
        margin-bottom: 6rem;
    }
    div.maxbone div.brand-text-wrapper{
        order: 2;
    }
    span.maxbone-img{
        background-image: url('../images/pattern-grass-01.jpg');
        width: 5.2rem;
        height: 3.4rem;
        transform: scale(1);
        left: 14.5rem;
        top: -7.5rem;
    }
    span.maxbone-img02{
        background-image: url('../images/pattern-grass-02.jpg');
        width: 5.5rem;
        height: 3.5rem;
        top: 6rem;
        left: auto;
        right: -4rem;
        z-index: -1;
    }

    /*maxbone vide0*/
    div.maxbone-video-wrapper{
        max-width: 30rem;
    }
    span.maxbone-img01,
    span.milk-img01,
    span.milk-img02{
        transform: scale(0.46);
    }
    span.maxbone-img01{
        top: -30rem;
        left: -28rem;
    }


    /*milk*/
    div.milk{
        margin-bottom: 10rem;
    }
    div.milk div.brand-visual{
        margin-bottom: 6rem;
    }
   
    span.milk-img01,
    span.milk-img02{
        top: auto;
        bottom: -28rem;
    }
    span.milk-img02{
        right: 2rem;
    }
    
    /*new item*/

    div.new-item-slider ul{
        display: flex;
        flex-wrap: wrap;
    }
    div.new-item-slider ul li{
        width: 50%;
        padding: 0 0.5rem;
        box-sizing: border-box;
        margin-bottom: 8.5rem;/*최소 마진값이 85로 맞춰짐*/
    }
    div.new-item-nav{
        display: none;
    }
    h3.item-brand{
        font-size: 2.2rem;
    }
    p.item-name{
        font-size: 2rem;
        line-height: 170%;
        font-weight: normal;
        word-break: break-all;
    }


    /*brand text marq*/
    div.brand-text-maq{
        padding: 5rem 0;
    }
    div.brand-text-maq p{
        font-size: 4.6rem;
    }
    div.brand-text-maq p span{
        margin: 0 2.5rem;
    }


    /*cotielog*/
    section.cotielog-wrapper h2.content-title{
        text-align: left;
    }
    ul.cotie-gallery{
        grid-template-columns: 1fr;
        margin-bottom: 9rem;
    }
    ul.cotie-gallery li{
        max-width: 31rem;
        margin-bottom: 9rem;
    }
    h3.cotie-title{
        font-size: 2.2rem;
    }
    ul.cotie-gallery li:nth-child(2n){
        grid-column: auto;/*초기값으로 바꿈*/
        justify-self: end;/*컨텐츠 직접 컨트롤*/
        margin-top: 0;
    }

    section.cotielog-wrapper a.more-btn{
        position: absolute;
        top: 0;
        right: 0;
        background-image: none;
        width: auto;
        height: auto;
        font-size: 2rem;
        line-height: 2.8rem;/*before의 높이값과 맞추기*/
    }
    section.cotielog-wrapper a.more-btn::after{
        content: none;
    }
    section.cotielog-wrapper a.more-btn::before{
        width: 2.8rem;
        height: 2.8rem;
        top: 1rem;
    }


    /*sns*/
    section.sns-wrapper h2.content-title{
        font-size: 4.6rem;
    }
    section.sns-wrapper h2.content-title br{
        display: block;
    }
    ul.sns-list{
        flex-wrap: wrap;
        margin: 0 -0.5rem;
    }
    ul.sns-list li{
        width: 50%;
        padding: 0.5rem;
    }


    /*footer*/
    ul.footer-menu li{
        margin-bottom: 3.8rem;
    }
    ul.footer-menu li a{
        font-size: 3.8rem;
    }
    div.footer-text p span{
        font-size: 1.9rem;
    }


}



















